@use '../scss/colors.scss';
@use '../scss/breakpoints.scss';

#nav-bar {
  $nav-padding: 19px 24px 25px;

  padding: $nav-padding;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: breakpoints.$breakpoint) {
    border-bottom: 1px solid #e4e9f2;
    padding: 0 0 38px;
  }

  .hidden {
    display: none;
  }
}
