@use '../scss/colors.scss';

.cart-icon-container {
  display: flex;
  align-items: center;
  .cart-icon:hover {
    cursor: pointer;
    path {
      fill: colors.$black;
    }
  }
  .basket {
    $horizontal-padding: 24px;
    $vertical-padding: 24px;

    width: 96%;
    position: absolute;
    top: 76px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;

    // Adds a subtle shadow effect.
    box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.5031);

    &__title {
      border-bottom: 1px solid #e4e9f2;
      width: 100%;
      margin: 0;
      padding: $vertical-padding $horizontal-padding $vertical-padding + 3px;
    }

    &__items {
      padding: $vertical-padding $horizontal-padding $vertical-padding + 5px;

      .item {
        display: flex;
        align-items: center;
        margin-bottom: $vertical-padding;
        color: colors.$dark-grayish-blue;
        .thumbnail {
          width: 50px;
          border-radius: 4px;
        }

        .info {
          margin-left: 16px;
          margin-right: 19px;
          .name {
            margin: 0;
            margin-bottom: 5px;
          }
          .total {
            font-weight: 700;
            color: colors.$black;
            padding-left: 6px;
          }
        }

        .remove-item {
          height: 100%;
        }
      }
    }

    .checkout {
      width: 100%;
      padding: 21px 120px;
    }

    &__empty {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 188px;
      font-weight: 700;
      color: colors.$dark-grayish-blue;
    }
  }
}
